
<div style = "float:left">
{{#each articles}}
<div articleId = {{this._id}} id ="article" style = "background-color:red; width: 70vw">
<div>title: {{this.title}}</div>
<a href={{this.link}}>{{this.link}}</a>
</div>
{{/each}}
</div>
<div style="float: left">
    <div id = "note" articleId = '-1' style="display:block; position: fixed; margin-top:400px; height: 200px; width: 200px; background-color: yellow;">
        <h3>Note:</h3>
        <label>title: </label>
        <input id= "note-title" type="text">
        <br><br>
        <label id = "note-body">body: </label>
        <textarea style = "resize: none"></textarea>
        <button id = "save-note">save</button>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script>

    $("#article").on("click", function(_e){

        //_e.preventDefault();

        
        $("#note").attr("articleId", $(this).attr("articleId"));
        $("#note").attr("display", "none");
        console.log($("#note").attr("display"));
        console.log($("#note").attr("articleId"));
    });

    $("#save-note").on("click", function(_e){

            _e.preventDefault();

            $.ajax({
                type: "PUT",
                url: "/api/updateArticleNote/" + $(this).attr("articleId"),
                data: {
                    title: $("#note-title").val(),
                    body: $("#note-body").val()
                }
            }).then(function(_response){

            });
    });
</script>