<div id="articleDisplay">
    {{#each articles}}
    <div class="article" articleId={{this._id}}>
        
        <p class = "webLink">{{this.link}}</a>
        <p>{{this.title}} </p> 
    </div>
    <br>
    {{/each}}
</div>
<div style="float: left">
    <div id="note" articleId='-1'>
        <h3 id = "note-article-title"></h3>
        <label>title: </label>
        <input id="note-title" type="text">
        <br><br>
        <label>body: </label>
        <textarea id="note-body"></textarea>
        <button id="btn-save-note">save</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>


<script>

    {{!-- $.ajax({
        method: "GET",
        url: "/api/scrape/"
    }).then(_response =>); --}}
    
    $(".article").on("click", function (_e) {

        _e.preventDefault();
        
        $(".article").removeClass("activeBorder");
        $(this).addClass("activeBorder");
        _e.preventDefault();
 
        var articleId = $(this).attr("articleId");
        var children = $(this).children();
        var title = $(this).attr("articleTitle");
        
        $.ajax({
            type: "GET",
            url: "/api/articleNote/" + articleId
        }).then(function(_response){
      
             $("#note-title").val(_response.note.title);
             $("#note-body").val(_response.note.body);
             $("#note-article-title").text("Add note for article: \"" + children[0].textContent + '\"');
            $("#note").attr("articleId", articleId);
            $("#note").attr("display", "block");
             $("#note").show();
        });

       
    });

    $("#btn-save-note").on("click", function (_e) {

        _e.preventDefault();
        //console.log($("#note-body").val());

        $.ajax({
            type: "PUT",
            url: "/api/updateArticleNote/" + $("#note").attr("articleId"),
            data: {
                title: $("#note-title").val(),
                body: $("#note-body").val()
            }
        }).then(function (_response) {
            {{!-- console.log("note updated");
            $("#note-title").val("");
            $("#note-body").val(""); --}}
        });


    });
</script>